<form name="formVenta" class="form-horizontal" ng-submit="formVenta.$valid">
 <div data-ng-controller="VentaController">
      <div class="container-fluid panel panel-default">
         <p style="font-weight: bold;">Venta</p>
         <br>
         <div class="  col-md-2 col-sm-2">
            <div class="form-group">
            <p>Categorias</p>

            </div>
            <br>
            <select  data-ng-options="item as item.descripcion for item in CategoriasProductos" class="form-control" data-ng-class="borderCategoria" data-ng-model="categoria" name="Categoria" data-ng-change="FiltraCategorias(categoria)">
               <option value="">- Todos -</option>
            </select>
         </div>
         <div class="col-md-10 col-sm-10" >
         <div class="form-group">
         <div class="col-md-9 col-sm-9" >
            <p>Productos</p>
         </div>
         <div class="col-md-2 col-sm-2" >
            <input type="button" class="btn btn-success" data-ng-click="goPagar()" name="goPagar" value="Ir a pagar">
         </div>
         </div>
            <div class="form-group">
               <div class="container-fluid table-responsive" ">
                  <table dt-options="showCase.dtOptions"
                     class="table table-striped table-bordered row-border hover">
                     <thead>
                        <tr>
                           <th>
                              <h6 class="text-primary">Id</h6>
                           </th>
                           <th>
                              <h6 class="text-primary">Nombre</h6>
                           </th>
                           <th>
                              <h6 class="text-primary">Categoria</h6>
                           </th>
                           <th>
                              <h6 class="text-primary">Precio</h6>
                           </th>
                           <th>
                              <h6 class="text-primary">Stock</h6>
                           </th>
                           <th>
                              <h6 class="text-primary">Descripcion</h6>
                           </th>
                           <th>
                              <h6 class="text-primary">Cant. a comprar</h6>
                           </th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="item in tabla">
                           <td>
                              <h6>{{ item.id }}</h6>
                           </td>
                           <td>
                              <h6>{{ item.nombre }}</h6>
                           </td>
                           <td>
                              <h6>{{ traducirCategoria(item.CATEGORIA_PRODUCTO_id) }}</h6>
                           </td>
                           <td>
                              <h6>{{ item.precio }}</h6>
                           </td>
                           <td>
                              <h6>{{ item.stock }}</h6>
                           </td>
                           <td>
                              <h6>{{ item.descripcion }}</h6>
                           </td>
                           <td class="col-md-1 col-sm-1">
                              <input type="text" ng-pattern="[0-9]" class="form-control" name="cantidad{{$index}}" data-ng-model="item.cantidad" required> 
                            </td>
                            
                           <td ><button type="submit"  class="btn btn-success" data-ng-click="AgregarVentaById(item)">Agregar al carro</button></td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</form>